<!DOCTYPE html>
<html>
  <head>
    <title>Dominio total del mundo</title>
  </head>
  <body>
    <header>
      <h1><a href="/">A Django girl's blog</a></h1>
    </header>

    <article>
      <time>published: 06.06.2006, 4:20</time>
      <h2><a href="">¡Felices de los muertos! Ya no miran</a></h2>
      <p>La luz traidora de unos ojos claros.</p>
    </article>

    <article>
      <time>published: 06.06.2006, 4:20</time>
      <h2><a href="">¡Felices de los muertos! Ya no aspiran</a></h2>
      <p>Dulce veneno en unos labios rojos.</p>
    </article>

    <article>
      <time>published: 06.06.2006, 4:20</time>
      <h2><a href="">¡Felices de los muertos! Ya no sienten</a></h2>
      <p>Voces que halagan y halagando mienten.</p>
    </article>

    <article>
      <time>published: 06.06.2006, 4:20</time>
      <h2><a href="">¡Felices de los muertos! Ya no lloran</a></h2>
      <p>Ni vanamente compasión imploran.</p>
    </article>
  </body>
</html>
